.headerMenu {
  background-color: #0000B8;
  color: white;
  list-style: none;
  display: block;
  height: auto;
  margin: 0;
  margin-block-start: 0;
  padding-bottom: 5px;
  position: fixed;
  padding-inline-start: 0;
  padding: 5px;
}
.headerMenu li {
  padding: 2px;
}
.headerMenu li:hover {
  box-shadow: 1px 5px 5px black;
  position: relative;
  text-decoration: none;
}
.headerMenu a {
  color: #F21E1E;
  margin: 5px;
  padding-bottom: 10px;
  text-decoration: none;
}
.headerMenu a:active {
  color: white;
  display: inline-block;
  text-decoration: underline;
}
.headerMenu a:hover {
  text-decoration: underline;
}
.body {
  margin-block-start: 0;
}
.baseLayout {
  margin-left: 115px;
  margin-right: 7%;
}
